<ion-content>
  <div class="background-wrapper">
    <div class="background-circle">
    </div>
    <div class="background-circle1">
    </div>
    <div class="background-circle2">
    </div>
    <div class="background-circle3">
    </div>

    <h3>$700.55</h3>
    <h1>Apartement Savings</h1>
    <h5>Of 50m</h5>

    <div class="foto">
      <img src="assets/images/goku.png" alt="">
    </div>

    <div class="background">

      <ion-list class="up">
        <ion-title>Saving 5% of daily pay</ion-title>
      </ion-list>


      <h2>Activity</h2>
      <h4>View All</h4>

      <div class="gambar1">
        <ion-list class="list-data">
          <ion-item>
            <img src="assets/icon/banking.png" alt="">
            <ion-label>5% of $2500</ion-label>
            <h6>Dec 25</h6>
            <p>+125.00</p>
          </ion-item>
        </ion-list>

        <ion-list class="list-data1">
          <ion-item>
            <img src="assets/icon/banking.png" alt="">
            <ion-label>5% of $4500</ion-label>
            <h6>Dec 25</h6>
            <p>+225.00</p>
          </ion-item>
        </ion-list>

        <ion-list class="list-data2">
          <ion-item>
            <img src="assets/icon/banking.png" alt="">
            <ion-label>5% of $1500</ion-label>
            <h6>Dec 25</h6>
            <p>+75.00</p>
          </ion-item>
        </ion-list>

        <ion-list class="list-data3">
          <ion-item>
            <img src="assets/icon/banking.png" alt="">
            <ion-label>5% of $5500</ion-label>
            <h6>Dec 25</h6>
            <p>275.00</p>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>

</ion-content>