<ion-content>
  <div class="background">
    <h1>.</h1>

    <div class="Card">
      <ion-title>Your Card</ion-title>
      <P>2 physical,1 virtual card</P>
      <div class="foto">
        <img src="assets/icon/shapes-and-symbols.png" alt="">
      </div>

      <div class="tombol">
        <ion-button color="light" shape="round">Physical Card</ion-button>
        <ion-button color="light" shape="round">Virtual Card</ion-button>
      </div>

      <!--slider -->
      <div class="slider">
        <div class="slider1">
          <img src="assets/icon/visa-pay-logo.svg" alt="">
        </div>
        <div class="slider2">
          <img src="assets/icon/tick.png" alt="">
        </div>
        <h6>**** **** **** 2864</h6>
        <div class="grid-container">
          <div class="back">
          </div>
          <div class="grid-item">
            <h4>CARD HOLDER</h4>
          </div>
          <div class="grid-item">
            <h4>EXPIRES</h4>
          </div>
          <div class="grid-item">
            <h4>CVV</h4>
          </div>
          <div class="grid-item">
            <h5>Ahmad Fawaidi</h5>
          </div>
          <div class="grid-item">
            <h5>08/22</h5>
          </div>
          <div class="grid-item">
            <h5>826</h5>
          </div>
        </div>
      </div>

      <h3>Card Setting</h3>

      <!-- list -->
      <div class= "list">
        <ion-list class="list-data">
          <ion-item>
            <ion-avatar slot="start">
              <img src="/assets/icon/aerial.svg">
            </ion-avatar>
            <ion-label>
              <h2>Contactles Payment</h2>
            </ion-label>
            <ion-toggle color="success"></ion-toggle>
          </ion-item>
        </ion-list>

        <ion-list class="list-data1">
          <ion-item>
            <ion-avatar slot="start">
              <img src="assets/icon/pay.png">
            </ion-avatar>
            <ion-label>
              <h2>Online Payment</h2>
            </ion-label>
            <ion-toggle color="success"></ion-toggle>
          </ion-item>
        </ion-list>

        <ion-list noLine class="list-data2">
          <ion-item>
            <ion-avatar slot="start">
              <img src="assets/icon/858151.svg">
            </ion-avatar>
            <ion-label>
              <h2>ATM Withdraws</h2>
            </ion-label>
            <ion-toggle color="success"></ion-toggle>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>