<ion-content>

  <div class="data content-wrapper">

    <!-- background lingkaran -->

    <div class="lingkaran1">
    </div>
    <div class="lingkaran2">
    </div>
    <div class="lingkaran3">
    </div>
    <div class="lingkaran4">
    </div>

    <div class="saldo">
      <div class="grid">
        <h3>$5785.55</h3>
      </div>
      <div class="grid">
        <h1>Total Balance To Spend</h1>
      </div>
    </div>

    <!-- profile -->

    <div class="foto">
          <img src="assets/images/goku.png" alt="">
    </div>

    <!-- icon-->

    <div class="button">
      <ion-button color="light" shape="round">Bayar</ion-button>
    </div>
  </div>


  <div class="content-body">
    <div class="list-data">
      <div class="padding">
        <h3>Planning Ahead</h3>
      </div>
      <div class="up">
        <h1>-$540.52</h1>
      </div>
    </div>

    <!--Slide Gambar-->

    <div class="row">
      <ion-slides>
        <div class="column">
          <ion-list>
            <img src="assets/icon/internet.png" alt="">
            <h2>-150.52</h2>
            <p>in a 2days</p>
          </ion-list>
        </div>
        <div class="column">
          <ion-list>
            <img src="assets/icon/arrow.png" alt="">
            <h2>-250.52</h2>
            <p>in a 2days</p>
          </ion-list>
        </div>
        <div class="column">
          <ion-list> <img src="assets/icon/hert.png" alt="">
            <h2>-139.46</h2>
            <p>in a 2days</p>
          </ion-list>
        </div>
      </ion-slides>
    </div>

    <!--baris-->

    <div class="baris">
      <div class="column">
        <h1>
          Last Month Experience</h1>
      </div>
      <div class="column">
        <h2>-$1800.50</h2>
      </div>
    </div>

    <!-- Tanggal -->

    <div class="grid-container">
      <div class="grid-item">
        <h4>25</h4>
      </div>
      <div class="grid-item">
        <h4>26</h4>
      </div>
      <div class="grid-item">
        <h4>27</h4>
      </div>
      <div class="grid-item">
        <h4>28</h4>
      </div>
      <div class="grid-item">
        <h4>29</h4>
      </div>
      <div class="grid-item">
        <h4>30</h4>
      </div>
      <div class="grid-item">
        <h4>31</h4>
      </div>
      <div class="grid-item">
        <h5>Mar</h5>
      </div>
      <div class="grid-item">
        <h5>Mar</h5>
      </div>
      <div class="grid-item">
        <h5>Mar</h5>
      </div>
      <div class="grid-item">
        <h5>Mar</h5>
      </div>
      <div class="grid-item">
        <h5>Mar</h5>
      </div>
      <div class="grid-item">
        <h5>Mar</h5>
      </div>
      <div class="grid-item">
        <h5>Mar</h5>
      </div>
    </div>

    <!--data foto-->

    <div class="gambar1">
      <div class="data-foto">
        <ion-list class="list-foto">
          <ion-item>
            <img src="assets/icon/bio.png" alt="">
            <ion-label>CraftWork</ion-label>
          </ion-item>
        </ion-list>

        <ion-list class="list-fotoo">
          <ion-item>
            <img src="assets/icon/eyey.png" alt="">
            <ion-label>FocusLab
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>

</ion-content>