<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-wrapper" class="inner-scrol">
    <div class="login">
      <div class="form" padding>
        <h2>Login</h2>
        <ion-list>
          <ion-item class="kotak">
            <ion-input placeholder="Username" [(ngModel)]="Username"></ion-input>
          </ion-item>
          <ion-item class="kotak1">
            <ion-input placeholder="Password" type="Password" [(ngModel)]="Password"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button color="primary" shape="round">Log In</ion-button>
        <ion-button color="primary" shape="round">Register</ion-button>

      </div>
    </div>
  </div>
</ion-content>